@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  background: #d1d6b9;
}

.plant_box {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 514px;
}

.myplant {
  width: 470px;
  padding: 20px 20px 0px 20px;
  background: #d1d6b9;
  border-radius: 7px;
}

.myplant .plant_img img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.myplant .plant_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 430px;
}

.myplant .plant_data div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.myplant .plant_data div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 10px;
  margin-top: -5px;
  padding: 5px;
}

.myplant .plant_data div .nickname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px !important;
  background: #7d8d4a !important;
  border-radius: 0px 0px 0px 7px;
  width: 33.334%;
  overflow: scroll;
}

.myplant .plant_data div .nickname label {
  color: #283618;
  font-weight: 900;
  font-size: 0.9rem;
}

.myplant .plant_data div .nickname p {
  color: #283618;
  display: block;
  line-height: 1em;
}

.myplant .plant_data div .species {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px !important;
  background: #7d8d4a !important;
  border-radius: 0px;
  width: 33.334%;
}

.myplant .plant_data div .species label {
  color: #283618;
  font-weight: 900;
  font-size: 0.9rem;
}

.myplant .plant_data div .species p {
  color: #283618;
  display: block;
  line-height: 1em;
}

.myplant .plant_data div .h2o-frequency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.334%;
  padding: 10px !important;
  background: #7d8d4a !important;
  border-radius: 0px 0px 7px 0px;
}

.myplant .plant_data div .h2o-frequency label {
  color: #283618;
  font-weight: 900;
  font-size: 0.9rem;
}

.myplant .plant_data div .h2o-frequency p {
  color: #283618;
  display: block;
  line-height: 1em;
}
/*# sourceMappingURL=plant.css.map */