@import "../../main.scss";

.plant_box {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 514px;
}
.myplant {
	width: 470px;
	padding: 20px 20px 0px 20px;
	// border: 2px solid gray;
	background: $bg2;
	border-radius: 7px;
	.plant_img {
		// max-width: 300px;

		img {
			width: 100%;
			height: 300px;
			object-fit: cover;
		}
	}

	.plant_data {
		display: flex;
		width: 430px;

		div {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;

			span {
				display: flex;
				flex-direction: column;
				line-height: 10px;
				margin-top: -5px;
				padding: 5px;
				// text-align: center;
				// border: 1px solid gray;
			}

			.nickname {
				display: flex;
				flex-direction: column;
				padding: 10px !important;
				background: $accent3 !important;
				border-radius: 0px 0px 0px 7px;
				width: 33.334%;
				overflow: scroll;

				label {
					color: $secondary;
					font-weight: 900;
					font-size: 0.9rem;
				}

				p {
					color: $secondary;
					display: block;
					line-height: 1em;
				}
			}

			.species {
				display: flex;
				flex-direction: column;
				padding: 10px !important;
				background: $accent3 !important;
				border-radius: 0px;
				width: 33.334%;

				label {
					color: $secondary;
					font-weight: 900;
					font-size: 0.9rem;
				}

				p {
					color: $secondary;
					display: block;
					line-height: 1em;
				}
			}

			.h2o-frequency {
				display: flex;
				width: 33.334%;
				padding: 10px !important;
				background: $accent3 !important;
				border-radius: 0px 0px 7px 0px;

				label {
					color: $secondary;
					font-weight: 900;
					font-size: 0.9rem;
				}

				p {
					color: $secondary;
					display: block;
					line-height: 1em;
				}
			}
		}
	}
}
