$primary: #606c38;
$secondary: #283618;
$accent1: #dda15e;
$accent2: #bc6c25;
$accent3: #7d8d4a;
$bg: #fefae0;
$bg2: #d1d6b9;

@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Varela Round", sans-serif;
}

html,
body {
	overflow-x: hidden;
	height: 100%;
	background: $bg !important;
}

h1,
h2,
h3 {
	color: $primary !important;
}
