.plants {
	display: flex;
}
.plants-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
.edit_delete_buttons {
	display: flex;
	justify-content: center;
}
.plants-wrapper button {
	cursor: pointer;
	margin: 20px;
	/* width: 100px; */
	/* border-radius: 7px; */
}

.plants-wrapper button:nth-child(1) {
	border-radius: 7px 0px 0px 7px;
}

.plants-wrapper button:nth-child(2) {
	border-radius: 0px 7px 7px 0px;
}

.plants-wrapper button:hover {
	background-color: rgb(43, 75, 11);
	color: white;
}
.plant_data div span {
	text-decoration: none;
	color: black;
}
@media screen and (max-width: 2066px) {
	.plants-wrapper {
		width: 1542px;
	}
}
@media screen and (max-width: 1546px) {
	.plants-wrapper {
		width: 1028px;
	}
}
@media screen and (max-width: 1032px) {
	.plants-wrapper {
		width: 514px;
	}
}
