.settings-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 100%;
}

.settings-container header {
	width: 100%;
	padding: 10px 0 10px 0;
	border-bottom: 2px ridge rgb(35, 192, 100);
	box-shadow: 3px 2px 10px rgb(146, 30, 255);
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	width: 50%;
}

form label {
	margin-bottom: 10px;
	width: 100%;
}

form input {
	margin-bottom: 10px;
}

form div {
	margin: -10px 0 10px 0;
}
